@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@300&display=swap');
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #8EA7E9;
    padding-top: 2vmin;
    padding-bottom: 2vmin;
}
.two-buttons{
    display: flex;
    flex-direction: row;
}
button{
    border-radius: 2vmin;
    padding: 1vmin;
    background-color: #7286D3;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    transition: background-color .25s ease;
}
button:hover{
    background-color: #5879ff;
}
.post_enter{
    margin-top: 3vmin;
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
    align-items: center;
}
textarea{
    padding: 1vmin;
    height: 35vh;
    width: 50vh;
    resize: none;
    border-radius: 2vmin;
    margin-bottom: 2vmin;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
}
input{
    border-radius: 2vmin;
    height: 3vmin;
    width: 25vmin;
    padding: 1vmin;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
}
select{
    border-radius: 2vmin;
}
body{
    background-color: #FFF2F2;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
}
main{
    width: 80vw;
    margin-top: 5vmin;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post{
    width:60vmin;
    padding: 3vmin;
    background-color: rgb(236, 235, 243);
    border-radius: 3vmin;
}
p{
    word-wrap: break-word;
}
.additional_data{
    margin-bottom: 1vmin;
}
.rules{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}